.detail-content{
  padding:1rem;
}
.detail-title{
  text-align: center;
  font-size: 1.4rem;
  padding:1rem;
  font-weight: bold;
}
.center{
  text-align: center;
}
.detail-nav-title{
  color:#666;
  font-size:1rem;
  cursor: default;
}
.detail-nav{
  width:100%;
  padding:1rem;
  background: #fff;
  margin:1rem 0;
}
.nav-list{
  font-size: .8rem;
}
pre{
  display: block;
  background-color:#f3f3f3;
   padding: .5rem !important;
   overflow-y: auto;
   font-weight: 300;
   font-family: Menlo, monospace;
   border-radius: .3rem;
}
pre{
  background-color: #283646 !important;
}
pre >code{
  border:0px !important;
  background-color: #283646 !important;
  color:#FFF;

}
code {
  display: inline-block ;
  background-color:#ccc;
  border-radius:3px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  color:#FFF;
  margin: 0px 3px;
}
.detail-content h2{
  font-size: 20px;
  font-weight: bold;
  padding:10px 0;
}
.detail-content p{
  padding:10px 0;
}
.detail-content p img{
  width: 100%;
  padding: 20px 0;
}
.detail-content .player{
  margin:10px 0;
}
